# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# ** -> 모든폴더를 다 검색해서 node_modules 를 업로드 안되게 한다. 
**node_modules    
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.localb 

npm-debug.log*
yarn-debug.log*
yarn-error.log*
