<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <!--<script src="/js/home/login.js" defer></script>-->   
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">

            <form class="register-form">
                <input id ='id' type="text" placeholder="id"/>
                <input id="name" type="text" placeholder="name"/>
                <input id='psword' type="password" placeholder="password"/>
                <input id='confirm'type="password" placeholder="confirm-password"/>
                <button id="createBtn">SIGN UP</button>
                <p class="message">not registered? <a href="/login">login</a></p>
            </form>


        </div>
      </div>
</body>
</html>

